<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>E-Library :: Indonesia</title>  
</head>
<body>
  <h3>API Available : </h3>
  <a href="/library/rest/listBook">List Book</a></br>
  <a href="/library/rest/listMember">List Member</a></br>
  <a href="/library/rest/listTransaction">List Transaction</a>
</body>
</html>